/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
	margin: auto;
	width: 90%;
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
h1 {
	font-size: 60px;
}

header .navigation {
	display: inline-block;
	margin: auto;
	text-align: center;
	padding-top: 1%;
	padding-bottom: 2%;
	width: 90%;
}

header .navigation a {
	color: grey;
	text-decoration: none;
	padding-right: 2%;
	padding-left: 2%;
	margin-left: 15px;
	margin-right: 15px;
}

header nav a:first-child{
	
}

header nav .logo{
	display: inline-block;
	margin-bottom: -.9%;
	margin-left: 6%;
}

.topContent {
	padding-top: 3%;
	padding-bottom: 3%;
	padding-right: 1%;
	border-top: solid 1px black;
	display: inline-block;
	width: 90%;
}

.features {
	display: inline-block;
	width: 49%;
}

.about {
	display: inline-block;
	width: 49%;
	padding-left: 1%;
}

.bannerTop {
	display: inline-block;
	width: 90%;
	text-align: center;
	padding-top: 4%;
	padding-bottom: 6%;
	border-bottom: 1px black solid;
}

.inno {
	display: inline-block;
	width: 49%;
	margin: auto;
}

#started {
	border: 1px black solid;
	padding: 2%;
	text-align: center;
	width: 150px;
	margin: auto;
}

.codeSnippet {
	display: inline-block;
	width: 49%;
	margin-right: -6%;
}

.codeSnippet img {
	margin-right: -15%;
}

.middle-img {
	width: 90%;
}

.bottomContent {
	display: inline-block;
	width: 90%;
	padding-top: 3%;
	padding-bottom: 3%;
	padding-right: 1%;
	border-bottom: 2px solid black;
}

.services {
	display: inline-block;
	width: 33%
}

.product {
	display: inline-block;
	width: 33%
}

.vision {
	display: inline-block;
	width: 33%
}

footer {
	padding-top: 4%;
}

#copyright {
	text-align: center;
	padding-bottom: 10%;
	padding-top: 5%;
}